@CHARSET "ISO-8859-1";


#dialogologin{ 	background-color: gray;
				padding: 10;
				margin-left: 25;
				margin-top: 25;}
input {			border: 3;}
label, p {			font-family: sans-serif;
    			font-size: 15;}
body {			background-color: white;}
h3 {			color: black;
				margin-left: px;
    			font-family: sans-serif;}
ul {			font-family: sans-serif;
				
	
	
}
    			
    			